.site-page--login {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(38, 50, 56, .6);
	overflow: hidden;
}
.site-page--login:before {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	content: "";
	background-image: url("/public/statics/images/login.jpg");
	background-size: cover;
}
.site-page--login .site-content__wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: transparent;
}
.site-page--login .site-content {
	min-height: 100%;
	padding: 30px 500px 30px 30px;
}
.site-page--login .brand-info {
	margin: 220px 100px 0 90px;
	color: #fff;
}
.site-page--login .brand-info__text {
	margin:  0 0 22px 0;
	font-size: 40px;
	font-weight: 400;
	text-transform : uppercase;
}
.site-page--login .brand-info__intro {
	margin: 10px 0;
	font-size: 22px;
	line-height: 1.58;
	opacity: .6;
}

.site-page--login .brand-info__intro_alert {
	margin: 10px 0;
	font-size: 16px;
	line-height: 1.58;
	opacity: .6;
	color: #ccc;
	font-weight: 300;
}

.site-page--login .login-main {
	position: absolute;
	top: 0;
	right: 0;
	padding: 135px 60px 180px;
	width: 470px;
	min-height: 100%;
	background-color: #fff;
}
.site-page--login .login-title {
	margin: 0 0 20px;
	font-size: 20px;
	font-weight: 400;
	text-align: center;
}
.site-page--login .login-captcha {
	float: none;
	margin: 0;
	padding: 0 !important;
	overflow: hidden;
}
.site-page--login .login-captcha > img {
	width: 100%;
	cursor: pointer;
}
.site-page--login .login-btn-submit {
	width: 100%;
	margin-top: 38px;
}
.site-page--login .login-copyright {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 30px 20px;
	text-align: center;
	color: #37474f;
}

.img-captcha {
	vertical-align: middle;
	max-width: 125px;
	min-height: 37px;
}

.adminui-user-login-icon {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 38px;
	line-height: 36px;
	text-align: center;
	color: #d2d2d2;
}

.adminui-user-login-box {
	padding: 20px;
}

.adminui-user-login-body .layui-form-item {
	position: relative;
}

.adminui-user-login-body .layui-form-item .layui-input {
	padding-left: 38px;
}

.layui-icon {
	font-family: layui-icon!important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (max-width: 450px) {
	.img-captcha {
		vertical-align: middle;
		max-width: 102px;
		min-height: 37px;
	}
}

@media (max-width: 767px) {
	.site-page--login .login-main {
		width: 100%;
	}
}
@media (max-width: 750px) {
	.site-page--login .brand-info__intro {
		display: none;
	}
	.brand-info__intro_alert{
		display: none;
	}
	.site-page--login:before {
		background-image: none !important;
	}
	.site-page--login .site-content__wrapper {
		background-color: #ffffff;
	}
	.adminui-user-login-box {
		padding: 0px;
	}
}

@media (max-width: 1024px) {
	.site-page--login .brand-info {
		margin: 100px 10px 0 10px !important;
	}
}

@media (max-width: 823px) {
	.site-page--login .brand-info__text {
		font-size: 21px;
	}
	.site-page--login .brand-info__intro {
		font-size: 14px;
	}
	.site-page--login .brand-info__intro_alert {
		font-size: 12px;
	}
	.site-page--login .brand-info {
		margin: 0px 10px 0 10px !important;
	}
}

@media (max-height: 450px) {
	.site-page--login .login-main {

		padding: 20px 60px 20px;

	}
	.brand-info {
		margin: 0px !important;
	}

}




@media (max-height: 320px) {
	.site-page--login .login-btn-submit {
		width: 100%;
		margin-top: 8px;
	}

}




